libphoebe_la*
*.o
*.a
*.lo
*.la
*.Po
*.so
*.lai
*.active
*.log
*.status
.vscode
stamp*
autom4te*
libtool
libphoebe.*
libphoebe-svn.*
phoebe_constraints.grm.[ch]
phoebe_constraints.lng.[ch]
lex.yy.c
phoebe-gui/src/phoebe-gui